body {
    background: url(img/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.btn{
    display: inline-block;
    position: absolute;
    text-align: center;
	color: #F8F8FF;
	background: #59F225;
    left: 45%;
    top: 45%;
    padding: 10px 60px;
    font: italic 40px Georgia, sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255, .12);
	
	outline: none;
    
    
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
    
    background: -webkit-linear-gradient(top, #AFFD87 10%,#43ED18 90%); 
}

.btn:hover {
	-webkit-box-shadow: 3px 3px 3px 3px #CFD4CE; 
 	-moz-box-shadow: 3px 3px 3px 3px #CFD4CE;
	box-shadow: 3px 3px 3px 3px #CFD4CE;
    color: #BECCBB;
}

.btn:active {
	-webkit-box-shadow: 3px 3px 3px 3px #CFD4CE; 
 	-moz-box-shadow: 3px 3px 3px 3px #CFD4CE;
	box-shadow: 3px 3px 3px 3px #CFD4CE;
    color: #E9F79C;
    background: -webkit-linear-gradient(top, #7DED6C 10%,#20A90C 90%);
}

#game-panel {
	width: 80%;
	height: 90%;
    border: 5px solid gray;
    margin: 5px 2px 1px 15px;
	position: absolute;
}



